<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生社团管理系统</title>
    <link rel="stylesheet" type="text/css" href="/static/css/admin/index.css"/>
</head>
<body>
<header class="am-topbar admin-header">
    <div class="am-topbar-brand">学生社团管理系统</div>
    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav admin-header-list" style="display: inline-block">
            <li class="kuanjie">
                <a href="#">会员管理</a>
                <a href="#">社团管理</a>
                <a href="#">个人中心</a>
            </li>
        </ul>
    </div>
</header>
</body>
</html>