<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>学生社团管理系统</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/static/js/student/header.js"></script>
    <style>
        img{
            width:160px;
            height:160px;
            overflow:hidden;
            float: right;
        }
    </style>
</head>
<body>
<div id="header"></div>
<div class="container">
    <div class="page-header">
        <h2>基本信息</h2>
    </div>
    <div class="col-md-8">
        <input type="hidden" id="id" th:value="${detail.id}">

        <div class="row">
            <div class="col-md-9">
                <div class="well" style="font-size: 20px" th:text="${detail.name}"></div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">成立时间</h3>
                    </div>
                    <div class="panel-body" th:text="${detail.buildTime}">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <img class="thumbnail" th:src="${detail.logo}" id="logo">
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">类别</h3>
            </div>
            <div class="panel-body" th:text="${detail.category}">
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">社团宗旨</h3>
            </div>
            <div class="panel-body" th:text="${detail.purpose}">
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">主要活动</h3>
            </div>
            <div class="panel-body" th:text="${detail.activity}">
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">会员福利</h3>
            </div>
            <div class="panel-body" th:text="${detail.welfare}">
            </div>
        </div>

    </div>

    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">操作</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-2" th:if="${flag} == false">
                        <button type="button" class="btn btn-primary" onclick="apply()">申请加入</button>
                    </div>
                    <div class="col-sm-12" th:if="${flag} == true">
                        <p th:if="${studentAssociation.status == 0}">非常抱歉，你未通过该社团的审核！</p>
                        <p th:if="${studentAssociation.status == 1}">你已经是该社团成员！</p>
                        <p th:if="${studentAssociation.status == 2}">申请已提交，请等待管理员审核！</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    function apply() {
        var id=$("#id").val();
        $.ajax({
            url: '/student/association/enter',
            type: 'post',
            data: {
                id: id
            },
            success: function () {
                alert("申请成功");
                window.location.href="/student/associationList"
            },
            error: function () {
                alert("网络错误")
            }
        })
    }
</script>