<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/admin/association/listPage}">学生社团管理系统</a>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav navbar-right main-nav">
                <li><a th:href="@{/admin/association/listPage}">社团管理</a></li>
                <li><a th:href="@{/admin/activity/listPage}">活动管理</a></li>
                <li><a th:href="@{/admin/asso_manage/list}">管理员管理</a></li>
                <li><a th:href="@{/admin/student/listPage}">学生管理</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        个人中心 <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/logout}">注销</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>