<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生社团管理系统</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/static/js/association/header.js"></script>
    <script src="/webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <style>
        img{width:200px;height:200px;overflow:hidden;}
    </style>
</head>
<body>
<div id="header"></div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-offset-2">
            <form id="myAdd" class="form-horizontal" role="form" style="width: auto" enctype="multipart/form-data" th:action="@{/admin/association/add}" th:method="post">
                <fieldset>
                    <legend>社团信息</legend>
                </fieldset>
                <input type="hidden" id="id" th:value="${detail.id}">
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">社团全称：</label>
                    <div class="col-sm-4">
                        <input th:value="${detail.name}" type="text" class="form-control" id="name" name="name" readonly>
                    </div>
                </div>

                <div class="form-group">
                    <label for="logo" class="col-sm-2 control-label">logo：</label>
                    <div class="col-sm-4">
                        <img th:src="${detail.logo}" id="logo">
                    </div>
                </div>

                <div class="form-group">
                    <label for="category" class="col-sm-2 control-label">类别：</label>
                    <div class="col-sm-4" id="category">
                        <label class="control-label" th:if="${detail.category == '人文学术'}">人文学术</label>
                        <label class="control-label" th:if="${detail.category == '文娱体育'}">文娱体育</label>
                        <label class="control-label" th:if="${detail.category == '社会服务'}">社会服务</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="purpose" class="col-sm-2 control-label">社团宗旨：</label>
                    <textarea th:text="${detail.purpose}" name="purpose" id="purpose" class="col-lg-3 input-sm" rows="3" style="margin-left: 15px" readonly></textarea>
                </div>

                <div class="form-group">
                    <label for="activity" class="col-sm-2 control-label">主要活动：</label>
                    <textarea th:text="${detail.activity}" name="activity" id="activity" class="col-lg-3 input-sm" rows="3" style="margin-left: 15px" readonly></textarea>
                </div>

                <div class="form-group">
                    <label for="welfare" class="col-sm-2 control-label">会员福利：</label>
                    <textarea th:text="${detail.welfare}" name="welfare" id="welfare" class="col-lg-3 input-sm" rows="3" style="margin-left: 15px" readonly></textarea>
                </div>

                <div class="form-group">
                    <label for="category" class="col-sm-2 control-label">主要发起人：</label>
                </div>

                <div class="form-group">
                    <label for="category" class="col-sm-2 control-label"></label>
                    <div class="col-xs-8">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>姓名</th>
                                <th>性别</th>
                                <th>职务</th>
                                <th>学院</th>
                                <th>年级</th>
                                <th>联系电话</th>
                                <th>QQ</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="list:${detail.member}">
                                <td th:text="${list.name}"></td>
                                <td th:text="${list.sex}"></td>
                                <td th:text="${list.duty}"></td>
                                <td th:text="${list.institution}"></td>
                                <td th:text="${list.grade}"></td>
                                <td th:text="${list.phone}"></td>
                                <td th:text="${list.qq}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-4">
                        <button type="button" class="btn btn-success" style="width: 100px" onclick="modify()">修改</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>
<script>
    function modify() {
        window.location.href="/association/detail/edit"
    }
</script>